@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url('./Rubik/Rubik-VariableFont_wght.ttf');
  font-weight: 300 900;
}

@font-face {
  font-family: 'Nunito';
  font-display: swap;
  src: url('./Nunito/Nunito-VariableFont_wght.ttf');
  font-weight: 300 900;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('./Inter/Inter-VariableFont_slnt\,wght.ttf');
}